 <!DOCTYPE html>
 <html>
   <body>
     <br><br>
     <h2> Сайт для ознакомления с погодой в Электростали <br>
       Можно узнать историю погоды за прошедшее время либо прогноз погоды на 7 дней
       <br><br><br>
     </h2>
     <h3> <%=link("История погоды", to: "/history") %> </h3>
     Данные об истории погоды начинаются с момента старта сайта - 14.06.21.<br>
     Количество выводимых данных ограничено 60 значениями.
     <br><br><br><br>
     <h3> <%=link("Прогноз погоды", to: "/forecast") %> </h3>
     Прогноз погоды на 7 дней от сегодняшней даты.
       <br><br><br>
   </body>
 </html>
